body{
  background: linear-gradient(to right,#11998e,#38ef7d);
  font-family: Arial;
  margin:0;
}

header{
  background:#0b5f56;
  color:white;
  padding:15px;
  display:flex;
  justify-content:space-between;
}

header a{
  color:white;
  text-decoration:none;
}

.box, .history{
  background:white;
  width:340px;
  margin:20px auto;
  padding:20px;
  border-radius:12px;
  text-align:center;
  animation: slide 0.8s ease;
}

input{
  width:90%;
  padding:8px;
  margin:8px;
}

button{
  background:#0b5f56;
  color:white;
  border:none;
  padding:10px;
  width:95%;
  border-radius:5px;
  cursor:pointer;
}

@keyframes slide{
  from{opacity:0; transform:translateX(20px);}
  to{opacity:1; transform:translateX(0);}
}