body{
  background: linear-gradient(to right,#43cea2,#185a9d);
  font-family: Arial;
  margin: 0;
}

header{
  background:#0f3c4c;
  color:white;
  padding:15px;
  display:flex;
  justify-content:space-between;
}

header a{
  color:white;
  text-decoration:none;
}

.box, .history{
  background:white;
  width:320px;
  margin:20px auto;
  padding:20px;
  border-radius:10px;
  text-align:center;
  animation: fade 0.8s ease;
}

input{
  width:90%;
  padding:8px;
  margin:8px;
}

button{
  background:#185a9d;
  color:white;
  border:none;
  padding:10px;
  width:95%;
  cursor:pointer;
  border-radius:5px;
}

@keyframes fade{
  from{opacity:0; transform:translateY(20px);}
  to{opacity:1; transform:translateY(0);}
}